.chat {
    position: fixed;
    bottom: 10%;
    left: 0;
    background: #111;
    padding: 20px;
    height: 83%;
    border-top: 1px solid #333;
    color: var(--sp-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-header {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

