.chat-icon {
    position: fixed;
    bottom: 150px;
    right: 1.3em;
    font-size: 1.5em;
    background-color: var(--sp-greenBrighter);
    padding: 10px 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

    @media (min-width: 600px) {
        display: none;
    }
}