.search-index {
    padding: 1em .5em;
    color: var(--sp-white);

    .header {
        margin-inline-start: .7em;
    }

    .artist-search-results {
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .artist-result {
        margin: .3em;
        padding: 1em .8em;

        &:hover {

            background-color: var(--sp-card);
            border-radius: 8px;

        }
    }

    .artist-info {
        margin-top: .3em;
        margin-left: .5em;
    }

    .result-item {
        display: grid;
        grid-template-columns: 56px minmax(0, 1fr) 40px 40px;
        height: 54px;
        align-items: center;
        margin: 1em;
        min-width: 0%;
        overflow: hidden;
        white-space: nowrap;

        .like-icon {
            justify-self: end;
        }

        .song-title {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;

        }

        &:hover {
            background-color: var(--sp-hover);
            border-radius: 4px;
        }
    }
}