.search-index {
    padding: 1em .5em;
    color: var(--sp-white);

    .header {
        margin-inline-start: .7em;
    }

    .result-item {
        display: grid;
        grid-template-columns: 56px 2fr 2fr;
        height: 54px;
        align-items: center;
        margin: 1em;
    }
}