.home {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.station-index.container {
    display: flex;
    flex-direction: column;
    color: var(--sp-white);
    font-family: var(--font-primary);
    background-color: var(--sp-black);
    border-radius: 8px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    header {
        height: 69px;
        border-radius: 5px 5px 0 0;
        position: sticky;
        top: 0;
        z-index: 10;
        transition: .2s ease-out;

        @media (max-width:600px) {
            opacity: 0;
            height: 20px;
        }
    }

    .gradient {
        background: linear-gradient(var(--avg-color)0%, rgba(0, 0, 0, 0) 50%);
        /* background-image: linear-gradient(rgba(52, 52, 52, 0.5) 0%, rgba(0, 0, 0, 0) 50%); */
        border-radius: 8px;

    }

    .body>:not(.station-carousel) {
        padding: 1em 2.3em;
    }

}

.station-index .filter-btns {

    display: flex;
    gap: .6em;
    padding: 1em 2.2em;


    button {
        background-color: var(--sp-index-btns);
        color: var(--sp-white);
        border: none;
        padding: 10px 14px;
        margin: 0;
        border-radius: 20px;
        font-size: var(--fs-small);
        font-family: var(--font-primary);
        cursor: pointer;
        transition: 0.2s;
    }

    button:hover {
        background-color: var(--sp-hover-transparent);
    }


}