.app-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-primary);
    color: var(--sp-white);
    min-height: 3.5rem;
    font-size: 1.3em;
    padding: .8rem 1rem;
    height: 90px;

    .song-details {
        display: grid;
        grid-template-rows: 18px 15px;
        align-content: center;
    }

    .song-title {
        justify-self: end;
        height: min-content
    }

    .mobile-nav-bar {
        display: none;
    }


    & p {
        margin: 0;
    }

    >span {
        font-size: .8em;

        &.local-services {
            color: --var(clr1);
        }

        &.remote-services {
            color: --var(clr5);
        }
    }

    @media (max-width: 600px) {
        height: 135px;
        display: grid;
        justify-content: center;
    }


}


@media (max-width: 600px) {
    .app-footer .mobile-nav-bar {
        display: flex;
        align-items: center;
        /* gap: 3em; */
        justify-content: space-around;
        padding-inline: 1em;

        .nav-icon {
            margin: 0;
            width: min-content
        }
    }
}