.library {
  padding: 16px;
  color: var(--sp-white);
  font-family: var(--font-primary);
  background-color: var(--sp-black);
  border-radius: 8px;
  width: 300px;
  height: 100%;

  @media (max-width:600px) {
    display: none;
  }
}


.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.library-header h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-tight);
  color: var(--sp-white);
}

.header-actions {
  display: flex;
  gap: 20px;
}

.header-actions i {
  color: var(--sp-gray);
  cursor: pointer;
  font-size: var(--fs-body);
  transition: 0.2s;
}

.header-actions i:hover {
  color: var(--sp-white);
}


.library-filter {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.library-filter button {
  background-color: var(--sp-card);
  color: var(--sp-white);
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: var(--fs-small);
  font-family: var(--font-primary);
  cursor: pointer;
  transition: 0.2s;
}

.library-filter button:hover {
  background-color: var(--sp-hover);
}


.search-toggle i {
  color: var(--sp-gray);
  cursor: pointer;
  font-size: var(--fs-body);
  transition: 0.2s;
  margin-bottom: 10px;
}

.search-toggle i:hover {
  color: var(--sp-white);
}



.search-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 16px;
}

.search-row i.fa-magnifying-glass {
  color: var(--sp-gray);
  cursor: pointer;
  font-size: var(--fs-body);
  transition: 0.2s;
}

.search-row i.fa-magnifying-glass:hover {
  color: var(--sp-white);
}

.search-row input {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  transform: translateX(-70px);
  background-color: var(--sp-card);
  border-radius: 6px;
  color: var(--sp-white);
  font-size: var(--fs-tiny);
  font-family: var(--font-primary);
  outline: none;
  transition: width 0.3s ease, opacity 0.1s ease, padding 0.3s ease, transform 0.3s ease;
}

.search-row input.open {
  width: 100%;
  opacity: 1;
  padding: 8px 12px;
  transform: translateX(0);
}

.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 12px;
  transition: 0.3s ease;
}

.label-recents {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.label-recents.open {
  opacity: 0;
}

.fa-list {
  opacity: 1;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}




.library-list {
  margin-top: 12px;
  scroll-behavior: smooth;
}

.library-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.library-list li {
  padding: 10px 6px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--sp-light-gray);
  font-family: var(--font-primary);
  font-size: var(--fs-small);
  transition: 0.2s;
}

.library-list li:hover {
  background-color: var(--sp-hover);
  color: var(--sp-white);
}