.library-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.library-list .inner-list {
  @media (max-width:600px) {
    overflow-y: unset
  }
}

.library-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  overflow-y: auto;
  padding-right: 4px;
  position: relative;
}

.sidebar-collapsed .library-list ul {
  gap: 0;
}

.library-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 10px !important;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  position: relative;
}

.custom-tooltip {
  position: absolute;
  padding: 8px 12px;
  border-radius: 6px;
  z-index: 1000;
  background-color: var(--sp-card);
}
























.sidebar-collapsed .library-list li {
  gap: 0;
}

.library-list li:hover {
  background-color: var(--sp-hover);
}

.icon-white-arrow {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateX(-50%) translateY(-50%);
  width: 24px;
  height: 24px;
  fill: var(--sp-white);
  pointer-events: none;
  display: none;
  z-index: 2;
}


.library-list li:hover .icon-white-arrow {
  display: block;
}


.library-list img {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0;
}

.library-list li:hover img {
  opacity: .4;
}


.sidebar-collapsed .library-list img {
  width: 50px;
  height: 50px;
}

.library-list .station-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.station-name {
  font-size: var(--fs-body);
  color: var(--sp-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 7600;
  font-family: spotify-regular;

}

.station-created-by {
  font-size: var(--fs-small);
  color: var(--sp-gray);
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: spotify-regular;
}

.playing .station-name {
  color: var(--sp-green)
}

.playing .playing-icon {
  margin-block-start: 3px;
  margin-inline-start: auto;
}

.sidebar-expend .library-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-auto-rows: max-content;
  align-items: start;
}

.sidebar-expend .library-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  padding: 10px 20px;
}

.sidebar-expend .library-list img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.sidebar-expend .station-name {
  font-size: var(--fs-h3);
  color: var(--sp-white);
  font-weight: 500;
  line-height: var(--lh-tight);
}

.sidebar-expend .station-created-by {
  font-size: var(--fs-body);
  color: var(--sp-gray);
}

.sidebar-expend .library-list li:hover .icon-white-arrow {
  display: none;
}

.green-play-icon {
  position: absolute;
  right: 20px;
  bottom: 100px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--sp-green);
  box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
  display: grid;
  place-content: center;

  opacity: 0;
  transform: translateY(7px);
  transition: opacity .2s ease, transform .2s ease;
  z-index: 3;
  pointer-events: none;
}

.sidebar-expend .library-list li:hover .green-play-icon {
  opacity: 1;
  transform: translateY(0);
}