.library {
  padding: 16px;
  color: var(--sp-white);
  font-family: var(--font-primary);
  background-color: var(--sp-black);
  border-radius: 8px;
  width: 300px;
  height: 100%;
}
.library:hover .collapse-library  {
  opacity: 1;
  transform: translateX(0px);
}
.library:hover .library-header h1 {
  transform: translateX(0px);
}


.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.library-header h1 {
  font-size: var(--fs-h2);
  font-weight: 700;
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-tight);
  color: var(--sp-white);
  transform: translateX(-20px);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 0;
}
.collapse-library {
  width: var(--fs-body);
  fill: var(--sp-gray);
  cursor: pointer;
  transition: fill 0.2s ease;
  opacity: 0;
  transform: translateX(-40px);
  transition: transform 0.3s ease;
}
.collapse-library:hover {
  fill: var(--sp-white);
}

.header-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
.icon-circle {
  width: var(--fs-display);
  height: var(--fs-display);
  background: var(--sp-dark-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-plus {
  width: 50%; 
  height: 50%;
  fill: currentColor;
  transition: fill 0.2s ease;
}

.icon-circle:hover .icon-plus {
  fill: var(--sp-gray);
}
.expend-side-bar {
  width: var(--fs-body);
  height: var(--fs-body);
  fill: var(--sp-gray);
  cursor: pointer;
  transition: fill 0.2s ease;
}
.expend-side-bar:hover {
  fill: var(--sp-white);
}

.library-filter {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.library-filter button {
  background-color: var(--sp-card);
  color: var(--sp-white);
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: var(--fs-small);
  font-family: var(--font-primary);
  cursor: pointer;
  transition: 0.2s;
}

.library-filter button:hover {
  background-color: var(--sp-hover);
}



.search-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 16px;
}

.search-row input {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  transform: translateX(-70px);
  background-color: var(--sp-card);
  border-radius: 6px;
  color: var(--sp-white);
  font-size: var(--fs-tiny);
  font-family: var(--font-primary);
  outline: none;
  transition: width 0.3s ease, opacity 0.1s ease, padding 0.3s ease, transform 0.3s ease;
}

.search-row input.open {
  width: 50%;
  opacity: 1;
  padding: 8px 12px;
  transform: translateX(0);
}
.search-row .icon-medium {
  width: 18px;
  height: 18px;
  fill: var(--sp-gray);
  cursor: pointer;
  transition: fill 0.2s ease;
}

.search-row .icon-medium:hover {
  fill: var(--sp-white);
}


.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 12px;
  transition: 0.3s ease;
  cursor: pointer;
}
.sort-wrapper:hover{
  transform: scale(1.1);
  transform: translateY(-4px);
}
.sort-wrapper:hover .label-recents,
.sort-wrapper:hover .list-icon {
  color: var(--sp-white);
}


.label-recents {
  opacity: 1;
  transition: opacity 0.3s ease;
  font-size: var(--fs-small);
  color: var(--sp-grey2);
  cursor: pointer;
}

.label-recents.open {
  opacity: 0;
}


.list-icon {
  width: var(--fs-h1);
  fill: var(--sp-gray);
  cursor: pointer;
  transition: fill 0.2s ease;
}


.library-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.library-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.library-list li:hover {
  background-color: var(--sp-hover);
}

.library-list img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0;
}

.library-list .station-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.station-name {
  font-size: var(--fs-small);
  font-weight: 600;
  color: var(--sp-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.station-created-by {
  font-size: 12px;
  color: var(--sp-gray);
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.tooltip {
  position: relative;
}


.tooltip::after {
  content: attr(data-tip);
  position: absolute;
  top: -35px;
  left: 0;
  transform: translateX(-10%);
  background: var(--sp-card);
  color: var(--sp-white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--fs-small);
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;

  transition: opacity 0.2s ease;
  transition-delay: 0s; 
}

.tooltip:hover::after {
  opacity: 1;
  transition-delay: 0.4s;
}




