.library-wrapper {
  overflow: visible;
  background: var(--sp-black);
  border-radius: 8px;
}

.library {
  padding: 27px 12px;
  color: var(--sp-white);
  font-family: var(--font-primary);
  background-color: var(--sp-black);
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 8px;
}

.library:hover .collapse-library {
  opacity: 1;
  transform: translateX(10px);
}

.library:hover .library-header h1 {
  transform: translateX(30px);
}


.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.sidebar-collapsed .library-header {
  justify-content: center;
}


.library-title {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}




.library-header h1 {
  font-size: var(--fs-body);
  font-weight: 700;
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-tight);
  color: var(--sp-white);
  transition: transform 0.15s ease;
  cursor: pointer;
  margin: 0;
  padding-left: 10px;
}

.collapse-library {
  width: var(--fs-body);
  fill: var(--sp-gray);
  cursor: pointer;
  opacity: 0;
  transform: translateX(-40px);
  position: absolute;
  left: 0;
  opacity: 0;
  transition: transform 0.15s ease, opacity 0.3s ease, fill 0.2s ease;
}

.collapse-library:hover {
  fill: var(--sp-white);
}

.header-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon-circle {
  width: var(--fs-large);
  height: var(--fs-large);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--sp-dark-2);
  transition: background-color .2s ease;
}

.icon-circle:hover {
  background-color: var(--sp-hover);
}

.icon-circle.createShown {
  background-color: transparent;
}

.icon-plus {
  width: 50%;
  height: 50%;
  fill: var(--sp-gray);
  transition: fill 0.2s ease;
}
.create-wrapper{
    display: flex;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  border-radius: 40px;
  padding: 0 6px;
}

.create-wrapper.createShown{
  background-color: var(--sp-hover);
}


.create-btn {
  color: var(--sp-white);
  border: none;
  font-size: var(--fs-small);
  font-family: var(--font-bold);
  font-weight: bold;
  transition: background-color 0.2s ease;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  font-weight: 600;

}

.icon-circle:hover .icon-plus {
  fill: var(--sp-gray);
}

.icon-circle-expend-wrapper {
  width: var(--fs-large);
  height: var(--fs-large);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.icon-circle-expend-wrapper:hover {
  background-color: var(--sp-hover);
}

.expend-side-bar,
.minimize-side-bar {
  position: absolute;
  width: var(--fs-h2);
  fill: var(--sp-gray);
  transition: opacity 0.2s ease, fill 0.2s ease;
}

.minimize-side-bar {
  opacity: 0;
}

.sidebar-expend .minimize-side-bar {
  opacity: 1;
}

.sidebar-expend .expend-side-bar {
  opacity: 0;
}

.library-books-wrapper {
  width: var(--fs-large);
  height: var(--fs-large);
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.open-library-icon,
.library-books-icon {
  position: absolute;
  width: var(--fs-h1);
  fill: var(--sp-gray);
  transition: opacity 0.2s ease, fill 0.2s ease;
}

.open-library-icon {
  opacity: 0;
}

.library-books-wrapper:hover .library-books-icon {
  opacity: 0;
}

.library-books-wrapper:hover .open-library-icon {
  opacity: 1;
}

.sidebar-collapsed .library-books-wrapper {
  display: flex;
}

.library-filter {
  display: flex;
  margin-bottom: 6px;
}

.library-filter button {
  background-color: var(--sp-card);
  color: var(--sp-white);
  border: none;
  padding: 8px 11px;
  border-radius: 20px;
  font-size: var(--fs-small);
  font-family: var(--font-primary);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.library-filter button:hover {
  background-color: var(--sp-hover);
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 6px;
  margin-bottom: 10px;
}

.icon-medium {
  width: var(--fs-body);
  height: var(--fs-body);
  fill: var(--sp-gray);
  cursor: pointer;
  transition: fill 0.2s ease, transform 0.25s ease;
}

.icon-medium:hover {
  fill: var(--sp-white);
}

.search-row.open .search-library-wrapper {
  pointer-events: none; 
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  background-color: var(--sp-card);
  border-radius: 6px;
  font-size: var(--fs-small);
  font-family: var(--font-primary);
  outline: none;
  transition: width 0.25s ease, opacity 0.15s ease, padding 0.25s ease;
}
.search-input::placeholder{
  color: var(--sp-gray);
}

.search-input.open {
  width: 200px;
  opacity: 1;
  padding: 6px 10px 6px 36px;
  height: 32px;
}
.search-row.open .search-library-wrapper:hover {
  background-color: transparent;
}



.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 12px;
  transition: 0.15s ease;
  cursor: pointer;
}


.sort-wrapper.open {
  margin-left: 0;
  justify-content: flex-start;
}

.sort-wrapper:hover {
  transform: translateY(-2px) scale(1.03);
}

.sort-wrapper:hover .label-recents {
  color: var(--sp-white);
  cursor: pointer;
}

.sort-wrapper:hover .list-icon {
  fill: var(--sp-white);
  cursor: pointer;
}

.search-library-wrapper {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--fs-large);
  height: var(--fs-large);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}


.search-library-wrapper:hover {
  background-color: var(--sp-hover);
}




.label-recents {
  color: var(--sp-grey2);
  font-size: var(--fs-small);
  display: block;
  transition: color 0.3s ease;
}

.list-icon {
  width: var(--fs-h2);
  fill: var(--sp-gray);
  transition: fill 0.2s ease;
}


.label-recents.hide {
  display: none;
  pointer-events: none;
}
.sidebar-collapsed .library{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
}
.sidebar-collapsed .header-actions {
  flex-direction: column-reverse;
  gap: 10px;
}



.sidebar-collapsed .library-header h1,
.sidebar-collapsed .library-filter,
.sidebar-collapsed .search-row,
.sidebar-collapsed .station-created-by,
.sidebar-collapsed .collapse-library,
.sidebar-collapsed .icon-circle-expend,
.sidebar-collapsed .station-name {
  display: none;
}


.sidebar-collapsed .library-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.sidebar-collapsed .library-list img {
  width: 40px;
  height: 40px;
  margin: 0;
}

.sidebar-collapsed .icon-circle-expend-wrapper {
  display: none;
}

.resize-handle {
  width: 6px;
  cursor: grab;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.resize-handle:hover {
  background-color: white;
  opacity: 0.4;
}

.resize-handle:active {
  cursor: grabbing;
}

.sidebar-expend .collapse-library {
  display: none;
}

.sidebar-expend .tooltip-title {
  pointer-events: none;
}