.player {


    .btn-play {
        cursor: pointer;
        display: block;
        right: 10px;
        background-color: var(--sp-white);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
        transition: none;
    }

    .controls {
        justify-content: center;
        gap: 1.1em;

    }

    .progress-bar {
        width: 232px;



        /* BUTTON  */

        /* Chrome, Safari, Edge, and Opera */
        input[type="range"]::-webkit-slider-thumb {
            opacity: 0;
            -webkit-appearance: none;
            appearance: none;
            height: 12px;
            width: 12px;
            background-color: var(--sp-white);
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            position: relative;
            left: -1px;

        }

        &:hover input[type="range"]::-webkit-slider-thumb {
            opacity: 1;
        }

        /* Firefox */
        input[type="range"]::-moz-range-thumb {
            opacity: 0;
            height: 12px;
            width: 12px;
            background-color: var(--sp-white);
            border-radius: 50%;
            border: none;
        }

        &:hover input[type="range"]::-moz-range-thumb {
            opacity: 1;
        }

        /* SLIDER */


        input[type="range"] {
            cursor: pointer;

            -webkit-appearance: none;
            appearance: none;
            width: 300px;
            height: 4px;
            background: var(--sp-player-slider);
            /* צבע המסלול הריק */
            border-radius: 5px;
            /* הגדרת ה"מילוי" */
            background-image: linear-gradient(var(--sp-white), var(--sp-white));
            background-size: 50% 100%;
            /* כאן ה-JS ישלוט */
            background-repeat: no-repeat;
            outline: none;

            &:hover {
                background-image: linear-gradient(#4CAF50, #4CAF50);

            }
        }

    }

    .timer {
        color: var(--sp-gray);
        font-size: var(--fs-small);
    }

    #seek {
        width: 100%;
    }

    .info {
        align-items: center;
        gap: .3em;


    }

    .main-container {
        gap: 7px;
    }
}