.player {

    flex: 1;
    justify-content: space-between;
    align-items: center;
    user-select: none;




    .btn-play {
        cursor: pointer;
        display: block;
        right: 10px;
        background-color: var(--sp-white);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
        transition: none;
    }

    .controls {
        justify-content: center;
        margin-bottom: 4px;
        gap: 1.1em;

    }

    .progress-bar {
        width: 232px;
    }

    .volume-controls {

        align-items: center;
        gap: .3em;

        >*:not(#volume) {
            margin-inline-start: .3em;
        }

        .volume-icon {
            margin-top: 2px;
        }


        &:hover input[type="range"] {
            background-image: linear-gradient(#4CAF50, #4CAF50);

        }
    }

    .progress-bar,
    .volume-controls {

        /* BUTTON  */

        /* Chrome, Safari, Edge, and Opera */
        input[type="range"]::-webkit-slider-thumb {
            opacity: 0;
            -webkit-appearance: none;
            appearance: none;
            height: 12px;
            width: 12px;
            background-color: var(--sp-white);
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            position: relative;
            left: -1px;

        }

        &:hover input[type="range"]::-webkit-slider-thumb {
            opacity: 1;
        }

        /* Firefox */
        input[type="range"]::-moz-range-thumb {
            opacity: 0;
            height: 12px;
            width: 12px;
            background-color: var(--sp-white);
            border-radius: 50%;
            border: none;
        }

        &:hover input[type="range"]::-moz-range-thumb {
            opacity: 1;
        }

        /* SLIDER */


        input[type="range"] {
            cursor: pointer;

            -webkit-appearance: none;
            appearance: none;
            /* width: 300px; */
            height: 4px;
            background: var(--sp-player-slider);
            border-radius: 5px;
            background-image: linear-gradient(var(--sp-white), var(--sp-white));
            background-size: 50% 100%;
            background-repeat: no-repeat;
            outline: none;

            &:hover {
                background-image: linear-gradient(#4CAF50, #4CAF50);

            }
        }

    }

    .shuffle,
    .repeat {
        display: flex;
        align-items: center;
    }

    .on .icon {
        fill: var(--sp-green);
    }

    .on {
        position: relative;
    }

    .on::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 33%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--sp-green);
    }

    .tooltip {
        position: relative;
        overflow: visible;
    }


    .tooltip::after {
        content: attr(data-tip);
        position: absolute;
        top: -35px;
        left: 0;
        transform: translateX(-10%);
        background: var(--sp-card);
        color: var(--sp-white);
        padding: 4px 8px;
        border-radius: 4px;
        font-size: var(--fs-small);
        opacity: 0;
        pointer-events: none;
        white-space: nowrap;
        transition: opacity 0.2s ease;
        transition-delay: 0s;
        z-index: 1000;

    }

    .tooltip:hover::after {
        opacity: 1;
        transition-delay: 0.4s;
    }

    .timer {
        color: var(--sp-gray);
        font-size: var(--fs-small);
    }

    #seek {
        width: 100%;
    }

    .info {
        height: 20px;
        align-items: center;
        gap: .3em;


        .timer {
            width: 50px;

        }

        .timer:first-child {

            text-align: right;
        }

    }

    .main-container {
        gap: 7px;
    }
}