.player {
    width: 100%;
    display: grid;
    /* gap: .5em; */
    grid-template-columns: minmax(130px, auto) minmax(280px, 700px) minmax(50px, auto);
    justify-content: space-between;
    align-items: center;
    user-select: none;

    @media (max-width:600px) {
        grid-template-columns: minmax(130px, auto) minmax(100px, 200px) minmax(10px, auto);

    }

    .now-playing {
        display: grid;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        gap: .8em;
        grid-template-columns: 56px minmax(0, 150px) 18px;

        img {
            width: 56px;
            border-radius: 8px;
        }


        .song-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--sp-white);
            font-size: 13px;
            width: 200px;
        }

        .artist-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--sp-gray);
            font-size: var(--fs-tiny);
        }
    }


    .btn-play {
        cursor: pointer;
        display: block;
        right: 10px;
        background-color: var(--sp-white);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
        transition: none;
    }

    .controls {
        justify-content: center;
        margin-bottom: 4px;
        gap: 1.1em;

    }

    .progress-bar {
        flex: 1;
        min-width: 195px;

        @media (max-width:600px) {
            min-width: 100px;
        }
    }

    .volume-bar {
        max-width: 93px;
    }

    .volume-controls {
        justify-self: right;
        align-items: center;
        gap: .3em;

        >*:not(.volume-bar) {
            margin-inline-start: .3em;
        }

        .inner-container {
            display: flex;
            align-items: center;
            gap: .3em;

        }

        .inner-container:hover input[type="range"] {
            background-image: linear-gradient(#4CAF50, #4CAF50);

        }

        @media (max-width:600px) {
            display: none;
        }
    }

    .progress-bar,
    .volume-controls .inner-container {

        /* BUTTON  */

        /* Chrome, Safari, Edge, and Opera */
        input[type="range"]::-webkit-slider-thumb {
            opacity: 0;
            -webkit-appearance: none;
            appearance: none;
            height: 12px;
            width: 12px;
            background-color: var(--sp-white);
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            position: relative;
            left: -1px;

        }

        &:hover input[type="range"]::-webkit-slider-thumb {
            opacity: 1;
        }

        /* Firefox */
        input[type="range"]::-moz-range-thumb {
            opacity: 0;
            height: 12px;
            width: 12px;
            background-color: var(--sp-white);
            border-radius: 50%;
            border: none;
        }

        &:hover input[type="range"]::-moz-range-thumb {
            opacity: 1;
        }

        /* SLIDER */


        input[type="range"] {
            cursor: pointer;

            -webkit-appearance: none;
            appearance: none;
            /* width: 300px; */
            height: 4px;
            background: var(--sp-player-slider);
            border-radius: 5px;
            background-image: linear-gradient(var(--sp-white), var(--sp-white));
            background-size: 50% 100%;
            background-repeat: no-repeat;
            outline: none;

            &:hover {
                background-image: linear-gradient(#4CAF50, #4CAF50);

            }
        }

    }

    .shuffle,
    .repeat {
        display: flex;
        align-items: center;
    }

    .on .icon {
        fill: var(--sp-green);
    }

    .on {
        position: relative;
    }

    .on::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 33%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--sp-green);
    }

    .queue-icon.on::after {
        bottom: -8px;
    }

    .tooltip {
        position: relative;
        overflow: visible;
    }


    .timer {
        color: var(--sp-gray);
        font-size: 13px;
    }

    #seek,
    #volume {
        width: 100%;
    }

    .info {
        height: 20px;
        align-items: center;
        gap: .3em;

        .timer {
            width: 50px;

            @media (max-width:600px) {
                display: none;
            }
        }

        .timer:first-child {

            text-align: right;
        }

    }

    .main-container {
        /* min-width: 345px; */
        gap: 7px;
    }

    .like-button {
        align-self: center;
    }
}

@media (max-width:600px) {
    .player .now-playing img {
        width: 40px;
    }

    .player .now-playing {
        grid-template-columns: 40px minmax(0, 120px) 20px;

    }

    .controls>*:nth-child(2),
    .controls>*:nth-child(4) {
        width: 12px;
    }

    .controls>*:nth-child(3) {
        width: 30px;
        height: 30px;
    }

    .player .controls {
        gap: .5em;
    }
}