.sidebar.container {
    position: relative;
    height: 100%;
    background-color: var(--sp-black);
    color: var(--sp-white);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: visible;
    transition: none;
    margin-left: 6px;
    align-items: center;
    /* overflow-x: hidden; */
    min-height: 0
}

.resizer-handle {
    position: absolute;
    left: -10px;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: grab;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.resizer-line {
    width: 2px;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s;
}

.resizer-handle:hover .resizer-line {
    background-color: rgba(255, 255, 255, 0.2);
}

.resizer-handle:active .resizer-line {
    background-color: var(--sp-white);
}

.resizer-handle:active {
    cursor: grabbing;

}

.sidebar-content {
    flex: 1;
    padding: 15px;
    white-space: normal;
    /* overflow-x: hidden; */
    width: 100%;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1em;
}
.sidebar-content::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: var(--sp-grey2);
  border-radius: 8px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.station-index::-webkit-scrollbar {
  width: 8px;
}

.station-index::-webkit-scrollbar-thumb {
  background: var(--sp-grey2)
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.side-bar-item h1 {
    font-size: 1.2rem;
    margin: 0;
}

.sidebar.container.close {
    cursor: pointer;
}

.sidebar .arrow-side-bar {
    /* position: absolute; */
    /* transform: translateY(50%); */
    rotate: 180deg;
    position: absolute;
    top: 45%;
    left: 28%;
    transition: .4s;
}

.sidebar:hover .arrow-side-bar {
    transform: translateX(5px);
}

.sidebar header {
    width: 200px;

    h1 {
        margin: 0;
    }

    align-items: center;
    gap: 1em;


}

.collapse-side {
    opacity: 0;
    transform: translateX(10px);
    transition: transform 0.05s ease, opacity 0.2s ease;
    transition-delay: opacity .1s;
}

.sidebar header {
    transform: translateX(-20px);
    transition: transform 0.15s ease;
}

.sidebar:hover {
    .collapse-side {
        opacity: 1;
        transform: translateX(0);
        transition: transform 0.2s ease, opacity 0.3s ease;

    }

    header {
        transform: translateX(10px)
    }
}

.queue .img-overlay {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: black;
    z-index: 2;

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
        opacity: 0;
    }

    .icon {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        opacity: 0;
    }
}

.result-item:hover .img-overlay {
    &::after {
        opacity: 1;
    }

    .icon {
        opacity: 1;
    }
}

.sidebar .now-playing-song img {
    width: 100%;

    border-radius: 8px;
}

.now-playing-song {
    margin-block: 1em;
    width: 100%;


    .song-title {
        font-size: var(--fs-h1);
        text-wrap: wrap;

    }

    .song-artist {
        font-size: var(--fs-h3);
    }

    .inner-container {
        margin-block-start: .5em;
        display: flex;
        align-items: center;
        padding-inline-end: .5em;

        .like-icon {
            margin-inline-start: auto;
        }
    }
}

.artist-bio {
    text-wrap: wrap;
    background-color: var(--sp-card);
    border-radius: 0 0 8px 8px;



    img {
        width: 100%;
        /* border-radius: 8px; */
        margin-bottom: 10px;
    }
}

.bio {
    /* height: 500px; */
    width: 100%;
    background-color: var(--sp-card);
    padding: .5em
}

.long-txt {
    height: auto;
    color: var(--sp-gray);
    font-size: .9em;

}

.sidebar .artist-bio-header {
    font-size: large;
    margin-bottom: .5em;
    margin-left: .5em;
}

.queue {
    margin-top: 1em;
    position: absolute;
    inset: 0;
    height: 100%;
    background-color: var(--sp-black);
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;

    .result-item {
        display: grid;
        grid-template-columns: 20px 56px minmax(0, 1fr) 20px 30px;
        height: 54px;
        align-items: center;
        margin: 1em .3em;
        min-width: 0%;
        overflow: hidden;
        white-space: nowrap;



        .like-icon {
            justify-self: end;
        }

        .song-title,
        .song-artist {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;

        }

        &:hover {
            background-color: var(--sp-hover);
            border-radius: 4px;
        }
    }
}

.queue h1 {
    font-size: var(--fs-h2);
}

.queue h3,
h2 {
    font-size: 1em;
}


.playing .song-title {
    color: var(--sp-green)
}

.bio button {
    width: min-content;
    height: min-content;
    padding: .5em 1em;
    border-radius: 2em;
    justify-self: end;
    border: 1px var(--sp-white) solid;
}

.exit-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 1em;
}