/* .table-header {
  align-items: center;
  border-bottom: 1px solid var(--sp-border);
  color: var(--sp-gray);
  display: grid;
  font-size: var(--fs-small);
  grid-template-columns: 40px 2fr .7fr 40px .5fr .1fr 40px;
  letter-spacing: var(--ls-normal);
  padding: 12px 32px;
  position: sticky;
  top: 60px;
  background-color: var(--sp-black);
  z-index: 999;
} */

.table-header {
  display: grid;
  grid-template-columns: 40px 2fr 1fr 40px .5fr 40px 40px;
  align-items: center;
  padding: 12px 28px;
  position: sticky;
  top: 60px;
  z-index: 999;
  font-size: var(--fs-small);
  letter-spacing: var(--ls-normal);
  z-index: 999;

  background-color: transparent;
  border-bottom: 1px solid var(--sp-border);


  @media (min-width:900px) {
    .col.title {
      padding-inline-start: 60px;
    }
  }

  @media(max-width:900px) {

    .col.title {
      justify-self: start;
      grid-column: 3;
    }

    grid-template-columns: 10px 60px 2fr 0 30px 40px 30px;
    padding: 0;
    padding-inline-start: 2em;
    padding-inline-end: 1em;

  }

}

.table-header.is-sticky {
  background-color: var(--sp-black);
  border-bottom: 1px solid var(--sp-border);
}



.col-index {
  font-size: var(--fs-h2);
  display: grid;
  place-items: center;
}


.duration-icon {
  width: var(--fs-h1);
  fill: var(--sp-gray);

}

.song-list {
  padding: 1em;
  border-bottom: 1px solid var(--sp-border);

}

.song-row-inner {
  display: grid;
  grid-template-columns: 40px 2fr 1fr 40px .5fr 40px 40px;
  height: 54px;
  align-items: center;
  padding-inline: 1em;

  @media(max-width:900px) {

    grid-template-columns: 10px 2fr 0 30px 40px 30px;

  }


}

.song-row-inner:has(.drag-handle) {
  @media(max-width:900px) {

    grid-template-columns: 40px 2fr 0 30px 40px 30px;

  }
}

.song-table:has(.drag-handle) .table-header {

  @media (max-width:900px) {
    grid-template-columns: 10px 90px 2fr 0 30px 40px 30px;
  }


}

.song-date,
.col.date {
  margin-inline-end: 1em;
}

@media(max-width:900px) {

  .song-date,
  .col.date {
    display: none;
  }

  .col.album {
    opacity: 0;
  }
}

.song-row:hover .song-row-inner {
  background: var(--sp-hover);
  border-radius: 4px;
}


.song-img {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

.song-title-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 56px minmax(0, 1fr);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-album,
.song-artist {
  width: max-content;
}

.song-title,
.song-artist,
.song-album {
  cursor: pointer;
}

.song-album {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.station-details .song-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  /* max-width: 240px; */
  vertical-align: bottom;
}

.station-details .song-info {
  min-width: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.song-title:hover,
.song-artist:hover,
.song-album:hover {
  /* border-bottom: 1px solid var(--sp-white); */
  text-decoration: underline;
  text-underline-position: under;
}

.song-album,
.song-date,
.song-duration,
.song-artist {
  color: var(--sp-gray);
  font-size: var(--fs-small);
}


.song-row:hover .song-artist,
.song-row:hover .song-album {
  color: var(--sp-white);
}

.song-index-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-white-arrow-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--fs-body);
  fill: var(--sp-white);
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease;
}

.song-row:hover .icon-white-arrow-details {
  opacity: 1;
  pointer-events: auto;
}

.song-row:has([data-state="open"]) {
  /* color: var(--sp-white); */

  .song-row-inner {
    background-color: var(--sp-hover-grey);
    border-radius: 4px;
    color: var(--sp-white);


    .icon-options {
      opacity: 1;
    }
  }

}

.options-menu:has([data-state="open"]) .first {
  background: var(--sp-hover);

}


/* .song-row:hover .song-index,
.song-row:hover .song-duration {
  display: none;
} */



.icon-trash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--fs-h3);
  fill: var(--sp-white);
  cursor: pointer;
  display: none;

}

.big-icon-trash {
  width: var(--fs-extra-large);
  fill: var(--sp-white);
  cursor: pointer;
}

.song-row:hover .icon-trash {
  opacity: 1;
  display: block;
}

.icon-options {
  opacity: 0;
  margin-inline-start: 1em;

}

.song-row:hover .icon-options,
.result-item:hover .icon-options {
  opacity: 1;
}

.song-row .like-icon {
  opacity: 0;
}

.song-row:hover .like-icon {
  opacity: 1;
}

.song-index-wrapper .play-icon-row {
  transform: translateX(-11px);
  opacity: 0;
}

.song-row:hover .play-icon-row {
  opacity: 1;
}

.song-row:hover .song-index {
  opacity: 0;
}

.song-table.container {
  grid-area: 4 / 1 / 5 / 2;
  z-index: 2;
}

.song-table .search.container,
.station-details .search.container {
  margin-inline-start: 2em;
  margin-block-end: 3em;
  margin-block-start: 2em;
  min-height: 200px;

  .wrapper {
    position: relative;

    .tooltip-wrapper {
      position: absolute;
      left: 10px;
      bottom: 11px;
      width: 18px
    }
  }
}

.song-table .search-input,
.station-details .search-input {
  width: 380px;
  height: 40px;
  border: none;
  padding: 1em 2.5em;
  background-color: var(--sp-hover);
  border-radius: 6px;
  font-size: var(--fs-small);
  font-family: var(--font-primary);
  font-weight: 600;
  outline: none;
  color: var(--sp-white)
}

.result-item {
  display: grid;
  grid-template-columns: 56px 2fr 2fr;
  height: 54px;
  align-items: center;
  padding-inline-start: 10px;

}

.station-details hr {

  margin: 1em;
}



.song-table .btn-add-song,
.station-details .btn-add-song {
  width: min-content;
  height: min-content;
  padding: .5em 1em;
  border-radius: 2em;
  justify-self: end;
  border: 1px var(--sp-white) solid;
}

.options-menu {
  background: var(--sp-card);
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  /* margin-right: 2em; */
  padding: .4em .4em;
}

.option {
  padding: .3em .5em;
}


.options-menu .option:hover {
  background: var(--sp-hover);
}

@media (max-width:600px) {

  .station-table .search-input,
  .station-details .search-input {
    width: 250px;
  }

  .song-table.container .song-list {
    padding: 0;
  }



  .song-table.container .icon-options {
    opacity: 1;
  }

  .song-row-inner {
    grid-template-columns: 10px 2fr 0 30px 40px 30px;
  }

  .col.album {
    opacity: 0;
  }

  .col.title {
    justify-self: end;
  }
}