.table-header {
  align-items: center;
  border-bottom: 1px solid var(--sp-border);
  color: var(--sp-gray);
  display: grid;
  font-size: var(--fs-small);
  grid-template-columns: 40px 4fr 3fr 2fr 40px;
  letter-spacing: var(--ls-normal);
  padding: 12px 32px;
}

.table-header .col:nth-child(5) {
  display: flex;
  justify-content: flex-end;
}

.col-index {
  font-size: var(--fs-h2);
  display: grid;
  place-items: center;
}

.duration-icon {
  width: var(--fs-h1);
  fill: var(--sp-gray);

}

.song-list {
  padding: 0 2em;
}



.song-row-inner {
  display: grid;
  grid-template-columns: 40px 4fr 3fr 2fr 40px;
  height: 54px;
  align-items: center;
}

.song-row:hover .song-row-inner {
  background: var(--sp-hover);
  border-radius: 4px;
}


.song-img {
  border-radius: 4px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

.song-title-wrapper {
  align-items: center;
  display: flex;
  gap: 12px;
}

.song-album,
.song-artist {
  width: max-content;
}

.song-title,
.song-artist,
.song-album {
  cursor: pointer;
}

.station-details .song-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 240px;
  vertical-align: bottom;
}



.song-title:hover,
.song-artist:hover,
.song-album:hover {
  border-bottom: 1px solid var(--sp-white);
}

.song-album,
.song-date,
.song-duration,
.song-artist {
  color: var(--sp-gray);
  font-size: var(--fs-small);
}


.song-row:hover .song-artist,
.song-row:hover .song-album {
  color: var(--sp-white);
}

.song-index-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-white-arrow-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--fs-body);
  fill: var(--sp-white);
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease;
}

.song-row:hover .icon-white-arrow-details {
  opacity: 1;
  pointer-events: auto;
}

.song-row:has([data-state="open"]) {
  /* color: var(--sp-white); */

  .song-row-inner {
    background-color: var(--sp-hover-grey);
    border-radius: 4px;
    color: var(--sp-white);


    .icon-options {
      opacity: 1;
    }
  }

}


/* .song-row:hover .song-index,
.song-row:hover .song-duration {
  display: none;
} */

.song-duration-wrapper {
  position: relative;
}

.icon-trash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--fs-h3);
  fill: var(--sp-white);
  cursor: pointer;
  display: none;

}

.big-icon-trash {
  width: var(--fs-extra-large);
  fill: var(--sp-white);
  cursor: pointer;
}

.song-row:hover .icon-trash {
  opacity: 1;
  display: block;
}

.icon-options {
  opacity: 0;

}

.song-row:hover .icon-options {
  opacity: 1;
}




.station-details .search.container {
  margin-inline-start: 2em;
  margin-block-end: 3em;
  margin-block-start: 2em;
  min-height: 300px;

  .wrapper {
    position: relative;

    .tooltip-wrapper {
      position: absolute;
      left: 10px;
      bottom: 11px;
      width: 18px
    }
  }
}

.station-details .search-input {
  width: 380px;
  height: 40px;
  border: none;
  padding: 1em 2.5em;
  background-color: var(--sp-hover);
  border-radius: 6px;
  font-size: var(--fs-small);
  font-family: var(--font-primary);
  outline: none;
  color: var(--sp-white)
}

.result-item {
  display: grid;
  grid-template-columns: 56px 2fr 2fr;
  height: 54px;
  align-items: center;
}

.station-details hr {

  margin: 1em;
}

.options-menu {
  background: var(--sp-card);
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  /* margin-right: 2em; */
  padding: .4em .4em;
}

.option {
  padding: .3em .5em;
}


.options-menu .option:hover {
  background: var(--sp-hover);
}