* {
    box-sizing: border-box;
}
   
body {
    margin: 0 auto;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: --var(clr2);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
  max-width: 100%;
  display: block;
}