
button {
	padding: .5em .8em;
	border: 0;
	margin: .5em;
	cursor: pointer;
	background-color: var(--clr1);
	color: whitesmoke;
}

button:hover {
	transition: 0.3s;
	background-color: var(--clr1-light)
}
