.main-container {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: auto 1fr;
    height: 100dvh;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @media (max-width:600px) {}

}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    @media (max-width:600px) {
        grid-template-columns: auto;
        margin-top: 75px;
    }
}

.sample-grid-layout {
    display: grid;
    grid-template-columns: 12px 1fr 12px;

    @media (min-width: 624px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 624px) minmax(12px, 1fr);
    }

    @media (min-width: 784px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 784px) minmax(12px, 1fr);
    }

    @media (min-width: 1048px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 1048px) minmax(12px, 1fr);
    }


    >* {
        grid-column: 2;
    }

    >*.full {
        background-color: var(--clr1);
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        background-color: var(--clr4);
    }
}