.general-layout {
    display: grid;
    max-width: 100vw;
    overflow-x: hidden;
    grid-template-columns: .8rem 1fr .8rem;
    grid-template-rows: auto 1fr;
    height: 100dvh;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @media (max-width:600px) {}

}


main {
    display: grid;
    grid-template-columns: var(--sidebar-width) 6px 1fr;
    gap: 4px;
    max-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    --sidebar-width: 280px;

    @media (max-width:600px) {
        grid-template-columns: auto;
        margin-top: 75px;
    }

}

main.sidebar-expend {
    grid-template-columns: 1fr 0fr 0fr;
}
.main-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;  
  overflow-x: hidden;
  border-radius: 8px;
  background-color: var(--sp-black);
}




.sample-grid-layout {
    display: grid;
    grid-template-columns: 12px 1fr 12px;

    @media (min-width: 624px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 624px) minmax(12px, 1fr);
    }

    @media (min-width: 784px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 784px) minmax(12px, 1fr);
    }

    @media (min-width: 1048px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 1048px) minmax(12px, 1fr);
    }


    >* {
        grid-column: 2;
    }

    >*.full {
        background-color: var(--clr1);
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        background-color: var(--clr4);
    }
}
.main-content::-webkit-scrollbar {
  width: 12px;
}

.main-content::-webkit-scrollbar-thumb {
  background: var(--sp-grey2)
}

.main-content::-webkit-scrollbar-track {
  background: transparent;
}
.station-index::-webkit-scrollbar {
  width: 12px;
}

.station-index::-webkit-scrollbar-thumb {
  background: var(--sp-grey2)
}

.station-index::-webkit-scrollbar-track {
  background: transparent;
}

