.general-layout {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: auto 1fr;
    height: 100dvh;
}

.general-layout > *:not(main) {
    grid-column: 2;
}

.general-layout > main {
    grid-column: 1 / -1;
}
main {
    display: grid;
    grid-template-columns: var(--sidebar-width, 340px) 6px 1fr;
    height: 100%;
    gap: 0;
}
.main-content {
    display: grid;
    height: 100%;
    overflow-y: auto;
}


.library-wrapper {
    overflow: hidden;
    background: var(--sp-black);
    border-radius: 8px;
}
.resize-handle {
    width: 6px;
    cursor: grab;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.resize-handle:hover {
    background-color: white;
    opacity: 0.4;
}

.resize-handle:active {
    cursor: grabbing;
}

.sample-grid-layout {
    display: grid;
    grid-template-columns: 12px 1fr 12px;

    @media (min-width: 624px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 624px) minmax(12px, 1fr);
    }

    @media (min-width: 784px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 784px) minmax(12px, 1fr);
    }

    @media (min-width: 1048px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 1048px) minmax(12px, 1fr);
    }


    >* {
        grid-column: 2;
    }

    >*.full {
        background-color: var(--clr1);
        grid-column: 1 / -1;
    }

    >*:not(.full) {
        background-color: var(--clr4);
    }
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;

    >article {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 2rem;
        text-align: center;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
    }
}