:root {
  --app-background: #000000;
  --sp-black: #121212;
  --sp-dark: #181818;
  --sp-dark-2: #1f1f1f;
  --sp-gray: #b3b3b3;
  --sp-grey2: hsl(0, 0%, 50%);
  --sp-light-gray: #e5e5e5;
  --sp-white: #ffffff;
  --sp-green: hsl(141, 73%, 42%);
  --sp-greenBrighter: hsl(141, 73%, 62%);


  --sp-index-btns: #383838a3;

  --sp-card: #242424;
  --sp-card-transparent: #ffffff1a;
  --sp-hover: #2a2a2a;
  --sp-hover-transparent: hsla(0, 0%, 100%, .2);
  --sp-hover-grey: #ffffff4d;
  --sp-border: #3a3a3a;
  --sp-border-hover: #3f3f3f;
  --sp-carusel-hover: #1e1e1e;
  --sp-player-slider: #4d4d4d;

  --sp-gradient-1: linear-gradient(135deg, #450af5, #c4efd9);
  --sp-gradient-2: linear-gradient(135deg, #1db954, #1ed760);

  --success: #1db954;
  --error: #e91429;

  --sp-green-light: color-mix(in lab, var(--sp-green), white 20%);
  --sp-gray-light: color-mix(in lab, var(--sp-gray), white 30%);

}

@property --avg-color {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}