:root {
  --app-background: #000000;
  --sp-black: #121212;
  --sp-dark: #181818;
  --sp-dark-2: #1f1f1f;
  --sp-gray: #b3b3b3;
  --sp-grey2: hsl(0, 0%, 50%);
  --sp-light-gray: #e5e5e5;
  --sp-white: #ffffff;
  --sp-green: hsl(141, 73%, 42%);
  --sp-greenBrighter: hsl(141, 73%, 62%);


  --sp-index-btns: #383838a3;

  --sp-card: #242424;
  --sp-card-transparent: #ffffff1a;
  --sp-hover: #2a2a2a;
  --sp-hover-transparent: hsla(0, 0%, 100%, .2);
  --sp-hover-grey: #ffffff4d;
  --sp-border: #3a3a3a;
  --sp-border-hover: #3f3f3f;
  --sp-carusel-hover: #1e1e1e;
  --sp-player-slider: #4d4d4d;

  --sp-gradient-1: linear-gradient(135deg, #450af5, #c4efd9);
  --sp-gradient-2: linear-gradient(135deg, #1db954, #1ed760);

  --success: #1db954;
  --error: #e91429;

  --sp-green-light: color-mix(in lab, var(--sp-green), white 20%);
  --sp-gray-light: color-mix(in lab, var(--sp-gray), white 30%);


  --browse-clr-0: #1b5e20;
  --browse-clr-1: #27856a;
  --browse-clr-2: #1e3264;
  --browse-clr-3: #8d67ab;
  --browse-clr-4: #e8115b;
  --browse-clr-5: #8c1932;
  --browse-clr-6: #7358ff;
  --browse-clr-7: #148a08;
  --browse-clr-8: #ba5d07;
  --browse-clr-9: #e91429;
  --browse-clr-10: #e1118c;
  --browse-clr-11: #d84000;
  --browse-clr-12: #503750;
  --browse-clr-13: #1db954;
  --browse-clr-14: #0d3b66;
  --browse-clr-15: #1a432e;
  --browse-clr-16: #4a192c;
  --browse-clr-17: #522d0d;
  --browse-clr-18: #2d1657;
  --browse-clr-19: #631616;
  --browse-clr-20: #0b4545;
  --browse-clr-21: #3d3d3d;
  --browse-clr-22: #45241c;
  --browse-clr-23: #1c2b4d;
  --browse-clr-24: #2e1f47;
  --browse-clr-25: #004d40;
  --browse-clr-26: #5d1010;
  --browse-clr-27: #263238;
  --browse-clr-28: #4e342e;
  --browse-clr-29: #1a237e;
  --browse-clr-30: #311b92;

}

@property --avg-color {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}