:root {
  --app-background: #000000;
  --sp-black: #121212;
  --sp-dark: #181818;
  --sp-dark-2: #1f1f1f;
  --sp-gray: #b3b3b3;
  --sp-grey2: rgb(179, 179, 179);
  --sp-light-gray: #e5e5e5;
  --sp-white: #ffffff;
  --sp-green: #1db954;

  --sp-card: #242424;
  --sp-hover: #2a2a2a;
  --sp-border: #3a3a3a;


  --sp-gradient-1: linear-gradient(135deg, #450af5, #c4efd9);
  --sp-gradient-2: linear-gradient(135deg, #1db954, #1ed760);

  --success: #1db954;
  --error: #e91429;

  --sp-green-light: color-mix(in lab, var(--sp-green), white 20%);
  --sp-gray-light: color-mix(in lab, var(--sp-gray), white 30%);
}