.review-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;

    padding-block-end: 1em;
    border-block-end: 1px solid var(--gray2);

    > * {
        height: 2em;
    }

    & textarea {
        flex-grow: 1;
        font-family: inherit;
    }
}