.station-details {
  background: var(--sp-black);
  color: var(--sp-white);
  min-height: 100vh;
}

.station-header {
  align-items: end;
  background: linear-gradient(to bottom, var(--avg-color) 0%, var(--sp-black) 100%);
  display: grid;
  gap: 24px;
  grid-template-columns: 220px 1fr;
  height: 286px;
  padding: 24px;
}

.image-wrapper {
  align-items: center;
  display: flex;
  height: 220px;
  justify-content: center;
  width: 220px;
}

.station-cover {
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.station-meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
}

.playlist-label {
  font-family: var(--font-primary);
  font-size: var(--fs-small);
  letter-spacing: 1px;
  color: var(--sp-white);
}

.station-subinfo,
.song-artist,
.song-album,
.song-date,
.song-title,

.song-duration {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
.creator {
  font-family: var(--font-bold);
}

.station-title {
  font-family: var(--font-title);
  font-size: clamp(2.5rem, 6vw, 8rem);
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
}

.station-subinfo {
  align-items: center;
  display: flex;
  font-size: var(--fs-small);
  gap: 8px;
  opacity: 0.9;
}

.station-subinfo .dot {
  opacity: 0.6;
}

.station-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;

}

.station-actions-wrapper {
  display: flex;
  padding: 20px 40px;
}

.play-btn {
  align-items: center;
  background: var(--sp-green);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: center;
  transition: transform .1s ease;
  width: 54px;
}

.icon-large-black {
  width: var(--fs-h3);
}

.play-btn:hover {
  background-color: var(--sp-greenBrighter);
  transform: scale(1.06);
}

.shuffle-btn {
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: center;
  transition: transform .15s ease;
  width: 54px;
}

