.station-preview {
    display: flex;
    align-items: center;
    color: var(--sp-white);
    background-color: var(--sp-card-transparent);
    height: 48px;
    border-radius: 5px;
    min-width: 173px;
    cursor: pointer;
    transition: background-color .3s;

    img {
        cursor: auto;
        width: 48px;
        height: 48px;
        object-fit: cover;
    }

    h3 {
        margin: 0;
        padding-left: .8em;
        padding-right: 2em;

    }

    &:hover {
        background-color: var(--sp-hover-transparent);
    }

}