.station-details {
  background: var(--sp-dark);
  color: var(--sp-white);
  min-height: 100vh;
}

.station-header {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 24px;
  align-items: end;
  height: 286px;
  padding: 24px;
  background: linear-gradient(
    to bottom,
    var(--avg-color) 0%,
    var(--sp-black) 70%
  );
}

.image-wrapper {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.station-cover {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.station-meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}

.playlist-label {
  font-size: var(--fs-small);
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 1px;
}

.station-title {
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
  font-size: clamp(2.5rem, 6vw, 5rem);
}

.station-subinfo {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.9;
  font-size: var(--fs-small);
}

.station-subinfo .dot {
  opacity: 0.6;
}

.station-subinfo .dot {
  opacity: 0.6;
}

.station-actions {
  padding: 20px 40px;
  display: flex;
}

.play-btn {
  background: var(--sp-green);
  border: none;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .1s ease;
}

.play-btn:hover {
  transform: scale(1.06);
  background-color: var(--sp-greenBrighter);
}
.shuffle-btn{
  border: none;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .15s ease;
}
.table-header {
  display: grid;
  grid-template-columns: 40px 4fr 3fr 2fr 40px;
  align-items: center;
  gap: 16px;
  padding: 12px 40px;
  color: var(--sp-gray);
  font-size: var(--fs-small);
  border-bottom: 1px solid var(--sp-border);
  letter-spacing: var(--ls-normal);
}


.table-header .col {
  display: flex;
  align-items: center;
}


.table-header .duration {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid var(--sp-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}


.duration-icon {
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

.song-row {
  display: grid;
  grid-template-columns: 40px 4fr 3fr 2fr 40px;
  align-items: center;
  gap: 16px;
  padding: 12px 40px;
}


.song-row:hover {
  background: var(--sp-hover-transparent);
}

.song-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.song-title-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  
}
.song-album,
.song-artist{
    width: max-content;
}
.song-title,
.song-artist,
.song-album{
    cursor: pointer;
}
.song-title:hover,
.song-artist:hover,
.song-album:hover{
  border-bottom: 1px solid var( --sp-white);
}

.song-album,
.song-date,
.song-duration,
.song-artist {
  color: var(--sp-gray);
  font-size: var(--fs-small);
}

.song-row:hover .song-artist,
.song-row:hover .song-album{
    color: var(--sp-white);
}


