.station-preview {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--sp-white);
    background-color: var(--sp-card-transparent);
    height: 48px;
    border-radius: 5px;
    min-width: 173px;
    cursor: pointer;
    transition: background-color .3s;

    img {
        cursor: auto;
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
    }

    h3 {
        margin: 0;
        padding-left: .8em;
        padding-right: 2em;

    }

    .btn-play {
        display: none;

    }

    .station-name-preview {
        font-size: var(--fs-small);
        font-weight: 600;
        color: var(--sp-white);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        background-color: var(--sp-hover-transparent);

        .btn-play {
            display: block;
            position: absolute;
            right: 10px;
            background-color: var(--sp-green);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: grid;
            place-content: center;
            box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
            transition: none;

            &:hover {
                transform: scale(1.04);

            }
        }
    }

}


.skeleton-loader {
    width: 220px;
    height: 220px;
    background: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    animation: shimmer-loading 1.5s infinite linear;
}

@keyframes shimmer-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}