.station-carousel {
    position: relative;

    margin-top: 2em;
    color: var(--sp-white);


    .carusel-title {
        padding: 0 0 .5em 2em;
        margin: 0;

    }

    .description {

        font-size: 12px;
        color: var(--sp-gray);
        margin-top: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .list {
        margin-top: 0;
        display: flex;
        scrollbar-width: none;
        overflow-x: scroll;
        z-index: 99;
        padding: 0 2.3em 0 1.5em;
        /* width: 110%; */

        h4 {
            margin-top: .7em;
        }

    }

    img {
        width: 153px;
        height: 153px;
        object-fit: cover;
        border-radius: 5px;
    }

    .arrow-left {
        rotate: 180deg;

    }

    .arrow-wrapper {
        position: absolute;
        top: 45%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        background-color: var(--sp-card);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        opacity: 0;
        z-index: 1;
        transition: background-color .4s, opacity .1s;


        &.left {
            left: 0;

        }

        &.right {
            right: 0;
        }

        &:hover {
            transform: scale(1.04);
            transition: none;
            background-color: var(--sp-hover);

            .icon {
                fill: white;
            }
        }

    }

    &:hover .arrow-wrapper {
        opacity: 1;

        &.left {
            left: 1em;

        }

        &.right {
            right: 1em;
        }
    }

    .img-container {
        position: relative;

        &:hover .btn-play {
            transform: translateY(-10px);
            opacity: 1;


            &:hover {
                width: 50px;
                height: 50px;
            }
        }
    }

    .item {
        padding: .7em;

        &:hover {
            background-color: var(--sp-carusel-hover);
            border-radius: 8px;
        }
    }


    .btn-play {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        bottom: 5px;
        background-color: var(--sp-green);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
        opacity: 0;
        transition: transform .1s, opacity .2s;
    }
}