.station-index.container .station-list {

    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, minmax(173px, 1fr));
    gap: .5em;
    /* max-height: 216px; */

    margin: 0;

    @media (min-width: 1160px) {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
    }

    @media (max-width: 740px) {
        grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
    }

    .station-created-by {
        display: none;
    }

    .station-name {
        margin-inline-start: 1em;
        display: block;
    }
}