/* // Setup styles */
@import "../styles/setup/typography.css";
@import "../styles/setup/var.css";

/* // Basic styles */
@import "../styles/basics/base.css";
@import "../styles/basics/layout.css";
@import "../styles/basics/base.css";
@import "../styles/basics/forms.css";

/* // Component styles  */

@import "../styles/cmps/AppHeader.css";
@import "../styles/cmps/AppFooter.css";
@import "../styles/cmps/UserMsg.css";
@import "../styles/cmps/Library.css";


/* //Pages styles */

@import "../styles/pages/AboutUs.css";
@import "../styles/pages/HomePage.css";
@import "../styles/pages/Chat.css";
@import "../styles/pages/LoginSignup.css";
@import "../styles/pages/UserDetails.css";



/* // Station components styles */

@import "../styles/cmps/station/StationFilter.css";
@import "../styles/cmps/station/StationList.css";
@import "../styles/cmps/station/StationPreview.css";
@import "../styles/cmps/station/StationFilter.css";