/* // Setup styles */
@import "../styles/setup/typography.css";
@import "../styles/setup/var.css";
@import "../styles/setup/animations.css";

/* // Basic styles */
@import "../styles/basics/base.css";
@import "../styles/basics/layout.css";
@import "../styles/basics/helpers.css";
@import "../styles/basics/forms.css";

/* // Component styles  */

@import "../styles/cmps/AppHeader.css";
@import "../styles/cmps/AppFooter.css";
@import "../styles/cmps/Library.css";
@import "../styles/cmps/Loader.css";
@import"../styles/cmps/LibraryList.css";
@import"../styles/cmps/Player.css";
@import"../styles/cmps/SongsTable.css";


/* //Pages styles */

@import "../styles/pages/HomePage.css";
@import "../styles/pages/Chat.css";
@import "../styles/pages/LoginSignup.css";
@import "../styles/pages/StationIndex.css";
@import "../styles/pages/LibraryAddStation.css";




/* // Station components styles */

@import "../styles/cmps/station/StationFilter.css";
@import "../styles/cmps/station/StationList.css";
@import "../styles/cmps/station/StationPreview.css";
@import "../styles/cmps/station/StationFilter.css";
@import "../styles/cmps/station/StationCarousel.css";
@import "../styles/cmps/station/StationDetails.css"